version: "2.1"

orbs:
  shellcheck: circleci/shellcheck@3.1.2
  semantic-release: trustedshops-public/semantic-release@5.1.1

jobs:
  semantic-release:
    executor: semantic-release/default
    steps:
      - checkout
      - setup_remote_docker
      - semantic-release/install:
          additional_packages: '@semantic-release/exec'
      - run:
          name: Install os dependencies
          command: |
            sudo apt-get update -y
            sudo apt-get install -y gettext uuid-runtime
      - semantic-release/execute

workflows:
  main:
    jobs:
      - shellcheck/check:
          name: shellcheck
          dir: src
      - semantic-release:
          requires:
            - shellcheck

